@charset "utf-8";
/*
 * CSS Document
 */

@font-face {
    font-family: 'Press Start 2P';
    src: url('fonts/PressStart2P.eot');
    src: url('fonts/PressStart2P.eot?#iefix') format('embedded-opentype'),
        url('fonts/PressStart2P.woff2') format('woff2'),
        url('fonts/PressStart2P.woff') format('woff'),
        url('fonts/PressStart2P.ttf') format('truetype'),
        url('fonts/PressStart2P.svg#PressStart2P') format('svg');
    font-weight: 500;
    font-style: normal;
} 

@font-face {
	font-family: 'pizza';
	src: url('fonts/pizza.eot');
	src: url('fonts/pizza.eot#iefix') format('embedded-opentype'),
	   url('fonts/pizza.woff2') format('woff2'),
	   url('fonts/pizza.woff') format('woff'),
	   url('fonts/pizza.ttf') format('truetype'),
	   url('fonts/pizza.svg#pizza') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, 
[class*=" icon-"]:before {
	font-family: "pizza";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pause:before { content: '\e800'; } /* '' */
.icon-reload:before { content: '\e801'; } /* '' */
.icon-infinity:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
 
body {
	background-color: #000;
	color: #FFF;
	font-family: 'Press Start 2P';
}

.main {
	margin: 0 auto;
	width: 720px;
}

.title {
	margin: 0 auto;
	width: 720px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-size: 24px;
}

.column {
	display: grid;
	grid-template-columns: repeat(3, 240px);
}

.column > div {
	position: relative;
	z-index: 1;
}

.column-1 {
	display: grid;
	grid-template-rows: repeat(6, 120px);
}

.column-1 > div {
	padding: 20px;
	position: relative;
	z-index: 1;
}

.column-1 > div:nth-child(1) {
} 

.column-1 > div:nth-child(2) {
	grid-row-start: 2;
	grid-row-end: 4;
} 

.column-1 > div:nth-child(3) {
	grid-row-start: 4;
	grid-row-end: 6;
} 

.column-1 > div:nth-child(4) {
} 

.column-2 {
	height: 600px;
	display: grid;
	grid-template-rows: repeat(3, 240px);
}

.column-2 > div {
	padding: 20px;
	position: relative;
	z-index: 1;
}

.column-2 > div:nth-child(1) {

} 

.column-2 > div:nth-child(2) {

} 

.column-2 > div:nth-child(3) {

}

.column-3 {
	height: 600px;
	display: grid;
	grid-template-rows: repeat(6, 120px);
}

.column-3 > div {
	padding: 20px;
	position: relative;
	z-index: 1;
}

.column-3 > div:nth-child(1) {
} 

.column-3 > div:nth-child(2) {
	grid-row-start: 2;
	grid-row-end: 4;
} 

.column-3 > div:nth-child(3) {
	grid-row-start: 4;
	grid-row-end: 6;
} 

.column-3 > div:nth-child(4) {
} 

.pizza,
.pizza-rand {
	position: relative;
	width: 200px;
	height: 200px;
	cursor: pointer;
	z-index: 1;
}

.pizza-background {
	background-image: url("../img/fundo.png"); 
	background-position: center center;
    background-repeat: no-repeat;
}

.pizza:hover {
	opacity: 0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
}

.slice {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.slice img {
	width: 100%;
	border: none;
}

.slice-1 {	
	z-index: 1;
}

.slice-2 {
	z-index: 2;
}

.slice-3 {
	z-index: 3;
}

.slice-4 {
	z-index: 4;
}

.slice-5 {
	z-index: 5;
}

.slice-6{
	z-index: 6;
}

.slice-7 {
	z-index: 7;
}

.slice-8 {
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 48px;
	text-shadow: 6px 5px 6px rgba(0,0,0,0.56);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	display: none;
}

.slice-animate {
	z-index: 10 !important;
	position: absolute !important;
	display: block;
}

.time {
	text-align: center;
	width: 200px;
}

.time > div:nth-child(1) {
	font-size: 12px;
	height: 22px;
	line-height: 22px;
}

.time > div:nth-child(2) {
	font-size: 20px;
	height: 32px;
	line-height: 32px;
}

.time > div:nth-child(3) {
	font-size: 48px;
	height: 32px;
	line-height: 32px;
	margin-top: -6px;
	display: none;
}

.score {
	display: grid;
	grid-template-columns: 80px 120px;
	margin-left: 22px;
}

.score > div:nth-child(1) {
	text-align: left;
	line-height: 120px;
}

.score > div:nth-child(2) {
	color: #FFF;
	text-align: left;
	line-height: 60px;
}

.score img {
	width: 60px;
}

#score {
	font-size: 24px;
}

.life {
	display: grid;
	grid-template-columns: 65px 80px 65px;
}

.life img {
	width: 48px;
}

.life > div:nth-child(1) {
	text-align: center;
	font-size: 12px;
	grid-column-start: 1;
	grid-column-end: 4;
}

.life > div:nth-child(2) {
	text-align: right;
	line-height: 120px;
}

.life > div:nth-child(3) {
	text-align: center;
	line-height: 120px;
}

.life > div:nth-child(4) {
	text-align: left;
	line-height: 120px;
}

.actions {
	margin-top: 18px;
	width: 200px;
	display: grid;
	grid-template-columns: 65px 70px 65px;
}

.actions i {
	font-size: 28px;
	color: #FFF;
	transition: all 0.25s ease 0s;
	cursor: pointer;
}

.actions i:hover {
	opacity: 0.85;
	-moz-opacity: 0.85;
	filter: alpha(opacity=85);
}

.actions > div:nth-child(1) {
	text-align: right;
	line-height: 120px;
}

.actions > div:nth-child(2) {
	text-align: center;
	line-height: 120px;
	display: none;
}

.actions > div:nth-child(3) {
	text-align: left;
	line-height: 120px;
	display: none;
}
